# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# JetBrains
.idea/

# Environment Variables
.env

# Logs
*.log

# SQLite
*.db

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db
